:root {
--brand: #1B4965;
--accent: #27384B;
--background: #456488;
--text: #A3A4A5;
--link: #9ECE55;
--button:#569E99;
}


body{
  background-color: var(--background);
  font-family: 'Open Sans', sans-serif;
  color:var(--text);  
  margin-left: 3em;
  margin-right: 3em;
}

.text{
  color: --text;
}

a{
  color: var(--link);
}

.container {
  background-color: var(--accent);
    border: 2px solid black;
    margin: auto;
    display: grid;
    width: fit-content;
      height: 100%;
      
}
    
#dropdown{
  border: 2px solid var(--accent);
  padding-left: 10px;
  padding-right: 10px;
  background-color: var(--accent);
  padding-bottom:20px;
  /*width: auto;*/
}

#companyList img{
  width: auto;
  height: 18px;
  padding: 5px;
}

#companyList span{
  padding: 5px;
}

#logo {
  color: var(--text);
}


#menuBars{
display: none;
}

#logout-tile, #profile-tile, #favourites-tile, #portfolio-tile{
    display: none;
}


.container h1, #search{
  color: var(--text);
  text-align: center;
}

#home{
  padding: 15px;
}


.card a{
  color: var(--link);
}

.card button{
  background-color:var(--accent);
  border-color:var(--accent);
  border-style:solid;
  color:var(--link);
padding-bottom:2em;
  font-size:24pt;
}

.stockImg{
  height: 25vw;
  width:25vw;
  object-fit: contain;
}

.card{
  padding: 10px;
  height:30vw;
  display: inline-grid;
  padding-left: 3em;

}

div .hidden {
  display: block;
  height: 130px;
}

.navLinks{
  display: none;
  float: left;
  margin-top: 0px;
}

.navLinks a{
  color: var(--text);
  padding-left: 5px;
  text-decoration: none;
}

#companyList div{
  display: none;
  position: fixed;
}

#logOutSym {
  transform: rotate(180deg);
}

#symbol {
  display: none;
}

.compInput, #save, #cancel{
  display: none;
}

.show {
  display: block;
}

.hid {
  display: none;
}

.grid-container{
    display: grid;
    padding-top: 10px;
}

header {
      border: 2px solid black;
}
.navlinks a:hover{
  color: var(--link);
}

#stockHeadings{
  color: var(--link);  
}

#companyList span {
    font-size: 16pt;
}

@media screen and (min-width: 501px) {
  .navLinks, li{
    display: inline;
  }
  
  .navLinks{
  float: right;
  margin-top: -53px;
  font-size: 20px;
  /*border: 1px solid black;*/
  padding: 5px;
  
}

.navLinks li{
  display: inline;
}

#dropdown-content{
  height: 0px;
}


}

@media only screen and (max-width: 500px) {

/*.navLinks{*/
/*  display: none;*/
/*  float: left;*/
/*  margin-top: 0px;*/
  /*display: block;*/
/*}*/

/*#navLinks li{*/
/*  display: inline;*/
/*}*/

#menuBars{
  float: right;
  margin-top: -53px;
  font-size: 20px;
  border: 1px solid black;
  padding: 5px;
  display: block;
  color: var(--text);
}

.stockImg{
  width:33vw;
  height:33vh;
  object-fit: contain;
}

}