:root {
--brand: #1B4965;
--accent: #27384B;
--background: #456488;
--text: #A3A4A5;
--link: #9ECE55;
}


body{
  background-color: var(--background);
  font-family: 'Open Sans', sans-serif;
  color:var(--text);  
}

.text{
  color: --text;
}

a{
  color: var(--link);
}

.container {
  background-color: #27384B;
    border: 2px solid black;
    margin: auto;
}
    
#dropdown{
  border: 2px solid var(--accent);
  padding-left: 10px;
  padding-right: 10px;
  background-color: var(--accent);
  /*width: auto;*/
}

/*ul {*/
/*  list-style-type: none;*/
/*  float: right;*/
/*  margin-top: -45px;*/
/*}*/

#companyList img{
  width: auto;
  height: 18px;
  padding: 5px;
}

#companyList span{
  padding: 5px;
}

#logo {
  color: var(--text);
}


#menuBars{
display: none;
}

#logout-tile, #profile-tile, #favourites-tile, #portfolio-tile{
    display: none;
}

.container{
  height: 100%;
  
}

.container h1, #search{
  color: var(--text);
  text-align: center;
}

#home{
  padding: 15px;
}


#home a{
  color: var(--text);
  text-decoration: none;
}

.card{
  padding: 10px;
  width: auto;
  float: left;
}

div .hidden {
  display: block;
  height: 130px;
}

.navLinks{
  display: none;
  float: left;
  margin-top: 0px;
}

.navLinks a{
  color: var(--text);
  padding-left: 5px;
  text-decoration: none;
}

#companyList div{
  display: none;
  position: fixed;
}

#logOutSym {
  transform: rotate(180deg);
}

#symbol {
  display: none;
}

.compInput, #save, #cancel{
  display: none;
}

.show {
  display: block;
}

.hid {
  display: none;
}

.grid-container{
    display: grid;
    padding-top: 10px;
}

header {
      border: 2px solid black;
}

#stockHeadings{
  color: var(--link);  
}

@media screen and (min-width: 501px) {
  .navLinks, li{
    display: inline;
  }
  
  .navLinks{
  float: right;
  margin-top: -53px;
  font-size: 20px;
  /*border: 1px solid black;*/
  padding: 5px;
  
}

.navLinks li{
  display: inline;
}

#dropdown-content{
  height: 10px;
}


}

@media only screen and (max-width: 500px) {

/*.navLinks{*/
/*  display: none;*/
/*  float: left;*/
/*  margin-top: 0px;*/
  /*display: block;*/
/*}*/

/*#navLinks li{*/
/*  display: inline;*/
/*}*/

#menuBars{
  float: right;
  margin-top: -53px;
  font-size: 20px;
  border: 1px solid black;
  padding: 5px;
  display: block;
  color: var(--text);
}

.card img{
  width: 150px;
  height: auto;
}

}